<html>
    <head>
        <title>test chat</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
         .room {
             width: 100%;
             height: 300px;
             margin-bottom: 50px;
             overflow-x: 0;
             overflow-y: scroll;
         }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <ul id="room" class="room list-group"></ul>
            </div>

            <div class="row">
                <div class="col-12">
                    <form id="new-post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" name="user">
                        </div>
                        <div class="form-group form-check">
                            <label for="message">Message:</label>
                            <textArea name="message" id="message" rows="4" cols="100" maxlength="500" wrap="hard"></textArea>
                        </div>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
            </div>
        </div>


        <script
	    src="https://code.jquery.com/jquery-2.2.4.min.js"
	    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	    crossorigin="anonymous"></script>

        <script type="text/javascript">
         var connection = new WebSocket('ws://'+location.host+'/room');
         var room = $("#room");
         connection.onmessage = function (e) {
             room.append("<li class=\"list-group-item\">"+e.data+"</li>");
             room.animate({scrollTop: room.prop("scrollHeight")}, 1);
         };

         $("#new-post" ).submit(function( event ) {

             event.preventDefault();
             var keyValues = $(this).serializeArray(),
                 data = {};

             keyValues.forEach(function(item){
                 data[item.name] = item.value
             });

             $.post('/new', data, function(res){})

         });
        </script>

    </body>
</html>
